# Postgres
POSTGRES_USER=aile
POSTGRES_PASSWORD=aile
POSTGRES_DB=aile_agaci

# Web
WEB_PORT=8080
SECRET_KEY=please-change-this-to-a-long-random-string

# Seeded admin account (created only on first startup)
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin1234
ADMIN_NAME=Yönetici
